<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Quizz</title>
</head>
<body>


  {% for category in categories %}
       {{category.name}} <br>
      <ul>
          {% for test in category.tests %}
          <li>
                Test {{ test }}
          </li>
          {% endfor %}
      </ul>
  {% endfor %}


</html>