<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Quizz</title>
</head>
<body>


  {% for category in categories %}
       {{category.name}} <br>
      <ul>
          {% for test in category.tests %}
          <li>
                <a href="{{ path('quizz_question', {'category':category.name,'numTest':test}) }}"> Test {{ test }}</a>
          </li>
          {% endfor %}
      </ul>
  {% endfor %}

</body>
</html>