<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Test test</title>
</head>
<body>
{% for question in questions %}
  <img src="{{ asset('/images/'~question.addr) }}"> <br/> numQuestion : {{question.numQuestion}},
  quantityAns : {{question.quantityAns}},
  correctAnswer : {{question.correctAnswer}} <br>
 
{% endfor %}
</body>
</html>